session*
user/*
persp-confs
*~
auto-save-list
elpa
.emacs-custom.el
recentf
.dap-breakpoints
transient
snippets
projectile-bookmarks.eld
.cache
.lsp-session-v1
init-old.el
tramp
backups
places
projectile.cache
.extension
url
eshell
flycheck_weilbach-config-general.el
*.elc
network-security.data
games
speed-type
